In [32]:
import os
import pandas as pd

In [179]:
local_data_folder = "/Users/colleendriscoll/Dropbox/Classes/CS 109A/CS 109A Final project/data/"

## ACS 2000 - 2004 
**TO BE COMPLETED**

In [182]:
acs_2000_2004 = os.listdir(local_data_folder+ "acs-source-data/acs-1-year_tables_2000-2004")
acs_2000_2004 = [local_data_folder+\
                 "acs-source-data/acs-1-year_tables_2000-2004/"+x for x in acs_2000_2004]

In [183]:
# acs_2000 = pd.read_csv(acs_2000_2004[0])
# acs_2001 = pd.read_csv(acs_2000_2004[1])
# acs_2002 = pd.read_csv(acs_2000_2004[2])
# acs_2003 = pd.read_csv(acs_2000_2004[3])
# acs_2004 = pd.read_csv(acs_2000_2004[4])

In [192]:
codes = pd.read_csv(local_data_folder+ 'ACS_codes.csv')
codes

,filename,year,total_pop,median_age,white_pop,black_pop,hispanic_pop,high_school_perc,bachelor_deg_perc,unemp_rate,median_HH_income,mortgage_cost,rent_cost
0,/Users/colleendriscoll/Dropbox/Classes/CS 109A...,2000,1001,1017,1025,1026,1052,2010,2013,3006,3060,4074,4107
1,/Users/colleendriscoll/Dropbox/Classes/CS 109A...,2001,1001,1017,1025,1026,1052,2010,2013,3006,3063,4074,4107
2,/Users/colleendriscoll/Dropbox/Classes/CS 109A...,2002,1002,1020,1031,1032,1062,2014,2017,3008,3079,4094,4131
3,/Users/colleendriscoll/Dropbox/Classes/CS 109A...,2003,1002,1020,1031,1032,1062,2014,2017,3008,3079,4094,4131
4,/Users/colleendriscoll/Dropbox/Classes/CS 109A...,2004,1001,1019,1040,1041,1079,2013,2016,3011,3081,4115,4152

In [207]:
i = 4
df = pd.read_csv(codes.filename[i])
df[:5]
year_i = codes.year[i]
df_dict = {}
for j, colname in enumerate(codes.columns[2:]):
    j = j+2
    variable_j_table_ID = codes[colname][i]
    estimate_ij = df[df.table_id == variable_j_table_ID].Estimate.values
    df_dict[colname] = estimate_ij
df_dict['year']= [year_i for x in range(len(df_dict['total_pop']))]
df_dict['district']= df['Geographic Name'].unique()

for key in df_dict:
    print(len(df_dict[key]))

# df_out = pd.DataFrame(df_dict)
# df_out
# total_pop_index = acs_2000_2004_codes.total_pop[i]
# df[df['table_id'] == total_pop_index].Estimate

203
203
203
203
203
203
203
203
203
203
203
203
203

## 2005 - 2017 Data

In [116]:
## ACS Variable codes and their meanings/new names
older_var_table = pd.read_csv(local_data_folder+ "acs-source-data/vars_2005-2017_renamed.csv")
older_var_table

,Topic,Table,Variable,new_name,Annotation
0,Race,B02001,HD01_VD01,total_pop,Estimate; Total:
1,Race,B02001,HD01_VD02,white_pop,Estimate; Total: - White alone
2,Race,B02001,HD01_VD03,black_pop,Estimate; Total: - Black or African American a...
3,Housing Costs,B25105,HD01_VD01,mortgage_cost,Estimate; Median monthly housing costs
4,Age and Sex,S0101,HC01_EST_VC37,median_age,Total; Estimate; SUMMARY INDICATORS - Median a...
5,Educational,S0701,HC01_EST_VC48,high_school_num,Total; Estimate; EDUCATIONAL ATTAINMENT - Popu...
6,Educational,S0701,HC01_EST_VC50,bach_deg_num,Total; Estimate; EDUCATIONAL ATTAINMENT - Popu...
7,Educational,S0701,HC01_EST_VC64,median_HH_income,Total; Estimate; Median income (dollars)
8,Employment,S2301,HC04_EST_VC01,unemp_rate,Unemployment rate; Estimate; Population 16 yea...

In [211]:
## Some codes changed over the years

code_dict = {'year':[], 'table':[], 'code':[], 'description':[]}
for csv in older_tables:
    year = int('20'+ csv[4:6])
    table_id = csv[11:-13] ## Different IDs per topic
    csv_full_name = later_tables_folder + csv
    var_codes = older_var_table[older_var_table.Table == table_id].Variable.values
    new_varnames = older_var_table[older_var_table.Table == table_id].new_name.values
    if len(var_codes)>0:
        df_i = pd.read_csv(csv_full_name)
        for i, var_code in enumerate(var_codes):
            code_dict['year'].append(year)
            code_dict['table'].append(table_id)
            code_dict['code'].append(var_code)
            descripton_i = df_i[var_code][0]
            code_dict['description'].append(descripton_i)
code_df = pd.DataFrame(code_dict)

In [212]:
code_df.to_csv(local_data_folder + "ACS_2005_2007_codes.csv", index = False)

In [214]:
code_df = pd.read_csv(local_data_folder + "ACS_2005_2007_codes_fixed.csv")
code_df[:5]

   year  table           code     should be
0  2006  S0701  HC01_EST_VC43  bach_deg_num
1  2007  S0701  HC01_EST_VC43  bach_deg_num
2  2008  S0701  HC01_EST_VC43  bach_deg_num
3  2009  S0701  HC01_EST_VC43  bach_deg_num
4  2010  S0701  HC01_EST_VC52  bach_deg_num

In [216]:
descriptions = []
for i in range(len(code_df)):
    year = code_df.year[i]
    table_id = code_df.table[i]
    code_i = code_df.code[i]
    csv_end = "ACS_" + str(year)[2:] + "_1YR_"+ table_id+"_with_ann.csv"
    csv_full_name = later_tables_folder + csv_end
    df_i = pd.read_csv(csv_full_name)
    descriptions.append(df_i[code_i][0])

code_df['new_descriptions'] = descriptions

In [219]:
code_df.to_csv(local_data_folder + "ACS_2005_2007_codes_verification.csv",
              index = False)

In [220]:
## Cleaning up the massive files and only taking the variables that interest u
later_tables_folder = local_data_folder + "acs-source-data/acs-1-year_tables_2005-2017/"
older_tables = os.listdir(later_tables_folder)

out_folder = local_data_folder + "acs_cleaned_pt1_out/"

for csv in older_tables:
    year = int('20'+ csv[4:6])
    table_id = csv[11:-13] ## Different IDs per topic
    csv_full_name = later_tables_folder + csv
    var_codes = codes_df[codes_df.year == year & \
                                codes_df.table == table_id].Variable.values
    new_varnames = codes_df[codes_df.year == year & \
                                codes_df.table == table_id].new_name.values
    
    if len(var_codes)>0:
        df_i = pd.read_csv(csv_full_name)
        df_i = df_i.drop(0, axis = 0, inplace = False) ## First row not data
        dict_i = {'year': year,
                 'district': df_i['GEO.display-label'].values}
        for i, var_code in enumerate(var_codes):
            dict_i[new_varnames[i]] = df_i[var_code].values
        out_df = pd.DataFrame(dict_i)
        out_df.to_csv(out_folder+year+"_"+table_id+".csv", index = False)

ValueError: invalid literal for int() with base 10: '20St'

In [140]:
## Combining ACS tables by year
cleaned_csv_folder = out_folder

this_folder_csvs = [x for x in os.listdir(cleaned_csv_folder) if "csv" in x]
df = pd.read_csv(cleaned_csv_folder + this_folder_csvs[0])

years = [int(x[:4]) for x in this_folder_csvs]
for i, csv in enumerate(this_folder_csvs[1:]):
    i = i+1 ## I'm starting with the 1st index of the list
    if years[i]>years[i-1]: ## If it's a new year
        df.to_csv(cleaned_csv_folder +"by year/"+ str(years[i-1]) + "_combined.csv",
                 index = False)
        df = pd.read_csv(cleaned_csv_folder+csv)
    else:
        df_i = pd.read_csv(cleaned_csv_folder + csv)
        df_i = df_i.drop('year', axis = 1, inplace =False)
        df = pd.merge(df, df_i, how = 'left',
                  on = "district")
    if i == len(this_folder_csvs)-1:
        df.to_csv(cleaned_csv_folder +"by year/"+ str(years[i-1]) + "_combined.csv",
                 index = False)

In [174]:
## Concatenating the years together
year_csvs_folder = cleaned_csv_folder +"by year/"
year_csvs = [x for x in os.listdir(year_csvs_folder) if "csv" in x]

year_df = pd.read_csv(year_csvs_folder + year_csvs[0])
for csv in year_csvs[1:]:
    year_df_i = pd.read_csv(year_csvs_folder + csv)
    year_df = pd.concat([year_df, year_df_i], ignore_index=True)
    
df = year_df

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  if __name__ == '__main__':

In [156]:
import re

In [175]:
## Getting district numbers
district_nums = []

for i in range(len(df)):
    regex_match = re.search(" ([0-9]+) ", df.district[i])
    if regex_match is None:
        district_num_i = 1 ## At-large districts
    else:
        district_num_i = int(regex_match.group()[1:-1])
    district_nums.append(district_num_i)
df['district_num'] = district_nums

In [176]:
## Getting state names
state_names = [x.partition(", ")[-1] for x in list(df.district.values)]
df['state_name'] = state_names

df = df.drop('district', axis =1, inplace = False)

In [177]:
## Output cleaned csv
df.to_csv(local_data_folder + "ACS_2005_2017.csv", index = False)